.profile {
    text-align: center;
    padding:25px;
}

.content {
    display: inline-block;
}

.tabs {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.tab{
    width: 100%;
    margin-left: 1px;
    margin-right: 1px;
}

.table {
    margin-top: 25px;
    border: 2px solid black;
}