.profile {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.tabs {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.tab{
    width: 100%;
    margin-left: 1px;
    margin-right: 1px;
}

.table {
    margin-top: 25px;
    border: 2px solid black;
    border-radius: 2px;
}

.egg {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
  }