@import '../../index.scss';

#spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    background-color: transparent;
    padding: 25px;
    &.full-page {
        background-color: white;
        height: calc(100vh - #{$header});
    }

    img {
        height: 150px;
        $dimension: 150px;
    }

    h1 {
        margin-top: 0;
        font-family: 'Lato', sans-serif;
        color: rgb(84, 70, 122);
        margin-bottom: 0;
    }
}