@import '../../index.scss';

#spinner {
    height: calc(100vh - #{$header});
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;

    img {
        $dimension: 150px;
        height: $dimension;
        width: $dimension;
    }

    h1 {
        font-family: 'Lato', sans-serif;
    }
}