@import '../../index.scss';

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - #{$header});
}

.home-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include media-width(500px) {
        flex-direction: column;
    };
}

#banner {
    height: 200px;
    margin-bottom: 50px;
}

.button.home-link {
    margin: 10px;
}
