.Header {
    background-color: #123123;
    color: white;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    color:white;
}

a:hover, a:active {
    background-color: aliceblue;
}

// .Home {
//     margin: 1%;
// }