
#config_form {
    text-align: center;
    padding-top: 3rem;
    position: relative;
    left: auto;
}

#Errors {
    text-align: center;
    padding-top: 3rem;
    position: relative;
    color: red;
    font-size: 1rem;
    left: auto;
}

input {
    text-align: center;
    width: 9%;
}
