.matches {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

h1 {
    color: rgb(26, 55, 82);
}

.match-list {
    margin: 30px;
    font-size: 2vmin;
    border: 2px solid rgb(40, 86, 129);
    border-radius: 10px;
    border-collapse: collapse;

    text-align: center;

    color: rgb(26, 55, 82);

    thead{
        color: #f3d19f;
    }

    th{
        background-color: rgb(40, 86, 129);
        padding: 25px 5px 25px 5px;
    }

    .username_btn {
        border: none;
        padding: 9px 18px;
        font-size: 16px;
        color: rgb(26, 55, 82);
        background-color: inherit;
        cursor: pointer;
    }

    .username_btn:hover {
        background: #eee;
    }
}
