#login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #login {
    display: inline-flex;
    flex-direction: column;
    #guest-button {
      width: 186.467px;
    }
  }
}