@import '../../index.scss';
@import '../Header/tooltip.scss';

$dark-blue: rgb(65, 139, 182);

#sidebar {
    display: flex;
    flex-direction: column;
    width: 25vw;
    min-width: 275px;
    margin-left: 20px;
    border-radius: 1px;
    border: 1px solid rgb(189, 189, 189);
    background-color: rgb(221, 222, 231);
    @include media-width(600px) {
        margin-top: 20px;
        margin-left: 0px;
        width: 100%;
    }
}

#sidebar #tab-headers {
    border-bottom: 1px solid grey;
    .tab-header {
        @include appearance(none);
        width: 50%;
        padding: 5px;
        margin: 0 auto;
        box-sizing: border-box;
        outline: 0;
        font-size: 1rem;
        cursor: pointer;
        border: 0px solid transparent;
        background-color: rgb(132, 118, 148);
        color: rgb(193, 180, 206);
        text-decoration: none;
        text-align: center;
        @include transition(all 0.2s);
        &:hover {
            background-color: rgb(103, 95, 129);
        }
    }
    .active-tab {
        background-color: rgb(95, 82, 139);
        color: white;
    }
}

#sidebar #tabs #moves-tab {
    display: none;
}

#game-tab-wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px;
    box-sizing: border-box;
    overflow-y: auto;
}

#turn-indicator {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 3rem;
    #turn-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    #turn-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 7px;
        border-radius: 2px;
        box-sizing: border-box;
        background-color: white;
        color: black;
        border: 2px solid lightgrey;
        @include transition(all 0.25s);
    }
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 151, 151);
    border-radius: 2px;
    height: 2rem;
    margin: 5px;
    box-sizing: border-box;
    #timer-white {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        color: white;
    }
    #timer-black {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        color: black;
    }
}

#manual-move-input {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 3rem;
    form {
        display: flex;
        flex-direction: row;
        margin: 7px;
        box-sizing: border-box;
        width: 60%;
        input[type=text] {
            box-sizing: border-box;
            width: 60%;
        }
        input[type=submit] {
            box-sizing: border-box;
            width: 40%;
        }
    }
    #toggle-speech-input-wrapper {
        width: 20%;
        margin: 7px;
        #toggle-speech-input {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            box-sizing: border-box;
            background-color: rgb(122, 35, 35);
            border: 2px outset rgb(150, 85, 85);
            width: 100%;
            height: 100%;
            @include user-select(none);
            @include transition(all 0.1s);
            img {
                width: 20px;
                height: 20px;
            }
            &.change {
                background-color: seagreen;
                border-color: rgb(146, 175, 146);
                border-style: inset;
            }
            &.disabled {
                border-color: rgb(133, 132, 132);
                background-color: rgb(100, 100, 100);
            }
            &:hover {
                border-style: inset;
            }
        }
    }
    #manual-input-help-wrapper {
        width: 20%;
        #manual-input-help {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

#moves-tab-wrapper {
    display: flex;
    margin: 5px;
    box-sizing: border-box;
    border: 2px solid rgb(166, 174, 179);
    border-radius: 3px;
    background-color: white;
    overflow-y: auto;
}

#move-tracker {
    font-size: 15px;
    border-collapse: collapse;
    border: 0;
    line-height: 1.5;
    width: 100%;
    background-color: white;
    tr {
        border: 0;
        &:nth-child(even) {
            background-color: lighten(#bcbcbc ,20%);
        }
    }
    td {
        border: 0;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        padding: 3px 10px;
        &:first-child {
            font-weight: bold;
        }
    }
    th {
        border: 0;
        text-align: left;
        padding: 3px 10px;
        background-color: map-get($colors, middle-blue);
        color: white;
    }
}

#draw-forfeit-buttons {
    margin: 5px;
    display: inline-block;
    text-align: center;
    button {
        margin: 0 20px;
    }
}

.button-container {
    display: inline-block;
    align-items: center;
    button {
        margin: 5px;
    }
}

.confirmation-box {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    // When clicked
    justify-content: center;
    align-items: center;
}

.confirmation-content {
    background-color: #fefefe;
    display: block;
    padding: 10px;
    border: 1px solid #888;
    width: auto;
}

#notifications {
    padding: 5px;
    #check {
        background-color: rgb(133, 43, 43);
    }
    #game-over {
        &.win {
            display: block;
            background-color: rgb(32, 70, 32);
            #notification-message {
                color: rgb(128, 170, 130);
            }
        }
        &.lose {
            display: block;
            background-color: rgb(133, 43, 43);
            #notification-message {
                color: rgb(218, 168, 168);
            }
        }
        &.draw {
            display: block;
            background-color: rgb(28, 69, 85);
            #notification-message {
                color: rgb(101, 152, 172);
            }
        }
        &.spectator {
            display: block;
            background-color: rgb(28, 69, 85);
            #notification-message {
                color: rgb(101, 152, 172);
            }
        }
    }
    .notification {
        display: none;
        text-align: center;
        color: white;
        border-radius: 2px;
        padding: 5px;
    }
}